<div class="project-content animated fadeIn slow">
  <div>
    <div class="project-row">
      <div class="text-center project-img">
        <a (click)="open(projectDataList[0])">
          <img
            [src]="projectDataList[0].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[0].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[1])">
          <img
            [src]="projectDataList[1].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[1].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[2])">
          <img
            [src]="projectDataList[2].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[2].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[3])">
          <img
            [src]="projectDataList[3].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[3].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[4])">
          <img
            [src]="projectDataList[4].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[4].name }}
            </h5>
          </div>
        </a>
      </div>
    </div>

    <div class="project-row">
      <div class="text-center project-img">
        <a (click)="open(projectDataList[5])">
          <img
            [src]="projectDataList[5].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[5].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[6])">
          <img
            [src]="projectDataList[6].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[6].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[7])">
          <img
            [src]="projectDataList[7].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[7].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[8])">
          <img
            [src]="projectDataList[8].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[8].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[9])">
          <img
            [src]="projectDataList[9].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[9].name }}
            </h5>
          </div>
        </a>
      </div>
    </div>

    <div class="project-row">
      <div class="text-center project-img">
        <a (click)="open(projectDataList[10])">
          <img
            [src]="projectDataList[10].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[10].name }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center empty-block"></div>
      <div class="text-center empty-block"></div>
      <div class="text-center empty-block"></div>
      <div class="text-center empty-block"></div>
    </div>
  </div>
</div>
