<div class="project-content animated fadeIn slow">
  <div>
    <div class="project-row">
      <div class="text-center project-img">
        <a (click)="open(projectDataList[0])">
          <img
            [src]="projectDataList[0].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[0].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[0].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[1])">
          <img
            [src]="projectDataList[1].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[1].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[1].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[2])">
          <img
            [src]="projectDataList[2].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[2].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[2].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[3])">
          <img
            [src]="projectDataList[3].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[3].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[3].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[4])">
          <img
            [src]="projectDataList[4].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[4].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[4].nameEng }}
            </h5>
          </div>
        </a>
      </div>
    </div>

    <div class="project-row">
      <div class="text-center project-img">
        <a (click)="open(projectDataList[5])">
          <img
            [src]="projectDataList[5].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[5].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[5].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[6])">
          <img
            [src]="projectDataList[6].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[6].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[6].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[7])">
          <img
            [src]="projectDataList[7].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[7].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[7].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[8])">
          <img
            [src]="projectDataList[8].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[8].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[8].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center project-img">
        <a (click)="open(projectDataList[9])">
          <img
            [src]="projectDataList[9].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[9].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[9].nameEng }}
            </h5>
          </div>
        </a>
      </div>
    </div>

    <div class="project-row">
      <div class="text-center project-img">
        <a (click)="open(projectDataList[10])">
          <img
            [src]="projectDataList[10].thumbnailUrl"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay project-description animated fadeIn slower"
          >
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[10].nameSpa }}
            </h5>
            <h5
              *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
              class="card-title text-center animated fadeIn slow text-uppercase"
            >
              {{ projectDataList[10].nameEng }}
            </h5>
          </div>
        </a>
      </div>
      <div class="text-center empty-block"></div>
      <div class="text-center empty-block"></div>
      <div class="text-center empty-block"></div>
      <div class="text-center empty-block"></div>
    </div>
  </div>
</div>
