<div class="project-detail animated fadeIn">
  <div class="col-sm-12 mt-4">
    <div class="row show-desktop">
      <div class="col-sm-2">
        <a
          role="button"
          class="ml-0"
          (click)="previousProject()"
          style="cursor: pointer;"
        >
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
      <div class="col-sm-8">
        <h3
          *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
          class="animated fadeIn slow text-uppercase"
        >
          {{ projectData.nameSpa }}
        </h3>
        <h3
          *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
          class="animated fadeIn slow text-uppercase"
        >
          {{ projectData.nameEng }}
        </h3>
      </div>
      <div class="col-sm-2">
        <a
          role="button"
          class="mr-0"
          (click)="nextProject()"
          style="cursor: pointer;"
        >
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div class="row show-mobile">
      <div class="d-inline-flex w-100">
        <a
          role="button"
          class="ml-0 float-left mt-1"
          (click)="previousProject()"
          style="width: 20%;"
        >
          <i class="fa fa-chevron-left"></i>
        </a>
        &nbsp;
        <h3
          *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
          class="animated fadeIn slow text-uppercase text-center"
          style="width: 80%;"
        >
          {{ projectData.nameSpa }}
        </h3>
        <h3
          *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
          class="animated fadeIn slow text-uppercase text-center"
          style="width: 80%;"
        >
          {{ projectData.nameEng }}
        </h3>
        &nbsp;
        <a
          role="button"
          class="mr-0 float-right mt-1"
          (click)="nextProject()"
          style="width: 20%;"
        >
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
      <div class="row"></div>
    </div>
  </div>
  <br />
  <p
    *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
    class="animated fadeIn slow project-detail-text-top"
  >
    <small>{{ projectData.detailDescriptionTopSpa }}</small>
  </p>
  <p
    *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
    class="animated fadeIn slow project-detail-text-top"
  >
    <small>{{ projectData.detailDescriptionTopEng }}</small>
  </p>
  <br />
  <div class="reel animated fadeIn">
    <div
      #player_container
      class="d-block w-100 animated video-player-container"
      frameborder="0"
    ></div>
  </div>
  <img
    [src]="projectData.imgUrl"
    width="100%"
    class="animated fadeIn slower img-fluid project-detail-img"
  />
  <br />
  <p
    *ngIf="tranlateSrv.getDefaultLang() === 'spa'"
    class="animated fadeIn slow project-detail-text-top"
  >
    <small>{{ projectData.detailDescriptionBottomSpa }}</small>
  </p>
  <p
    *ngIf="tranlateSrv.getDefaultLang() === 'eng'"
    class="animated fadeIn slow project-detail-text-top"
  >
    <small>{{ projectData.detailDescriptionBottomEng }}</small>
  </p>
</div>
