<div class="about-us animated fadeIn slow">
    <h2 class="text-center mb-5">Pixel Canibal</h2>
    <p class="about-us-p" align="justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a porta neque. Donec hendrerit, neque quis rhoncus dapibus, lacus sem vestibulum mauris, in bibendum urna turpis non enim. Ut id laoreet orci, ac blandit ex. Morbi accumsan commodo est et convallis.
        Praesent ut ullamcorper quam, accumsan feugiat enim. Nunc hendrerit, sem at venenatis ullamcorper, augue est porttitor magna, et porttitor magna dui ut velit. Sed non cursus sapien, vitae imperdiet augue. Aliquam erat volutpat. Praesent tempus
        faucibus diam nec efficitur. Nulla venenatis aliquam feugiat. Etiam euismod tempus elit a venenatis. Fusce elit velit, laoreet vitae pharetra sed, euismod in nulla. Quisque condimentum enim justo, sit amet mattis quam facilisis vel. Quisque eleifend
        mauris faucibus mi vestibulum, non sollicitudin diam dignissim.
    </p>
    <p class="about-us-p" align="justify">
        Ut auctor lacinia vulputate. Sed auctor semper neque at vehicula. Nullam vehicula pretium ante, non porta magna dignissim sit amet. Duis massa arcu, pharetra ut lobortis vitae, luctus vel nisl. Fusce lobortis tristique lacus, eu convallis massa rhoncus
        sed. Vivamus sagittis neque eu sapien maximus efficitur. Aliquam ac enim ut libero luctus iaculis sit amet in lorem. Praesent a diam ante. Nullam gravida eros ac eros aliquam, at vestibulum quam pulvinar. Duis efficitur lorem augue, sit amet maximus
        ipsum venenatis ac. Morbi volutpat, dolor at fringilla tempor, nulla metus imperdiet tellus, sed sollicitudin urna urna et leo. Maecenas pharetra sed nibh eleifend cursus. Vestibulum aliquet venenatis tellus, ac ultrices mauris faucibus eget.
    </p>
</div>