<div class="about-us animated fadeIn slow">
    <div>
        <img src="/assets/img/brand/brand.png" alt="Pixel Canibal">
    </div>
    <div class="mb-3">
        <h2 class="text-center mb-5">Pixel Canibal</h2>
        <p class="about-us-p" align="center">
            No te asuste! nuestro nombre no significa lo que crees. <b>Pixel Canibal</b> no es sólo un nombre llamativo y extraño, lo que si somos es un estudio de animación que ama lo que hace, amamos el diseño, crear, darle vida a personajes y contar
            historias, donde nuestros clientes son la estrella principal
        </p>
        <p class="about-us-p" align="center">
            <b>Pixel Canibal</b> nace en Costa Rica en el 2011 y desde entonces no hemos parado de crear.
        </p>
        <p class="about-us-p" align="center">Animate a ser la estrella de nuestra próxima producción y trabajemos juntos</p>
    </div>
    <div class="mt-5 text-center">
        <img class="img-fluid about-us-clients" src="/assets/img/clients.png" alt="Pixel Canibal">
    </div>
</div>