<div class="about-us animated fadeIn slow">
  <div>
    <img hidden src="/assets/img/brand/brand.png" alt="Pixel Canibal" />
  </div>
  <div>
    <h2 class="text-center mb-3">Pixel Canibal</h2>
    <p class="about-us-p" align="center">{{ "weAreP1" | translate }}</p>
    <p class="about-us-p" align="center">{{ "weAreP2" | translate }}</p>
    <p class="about-us-p" align="center">{{ "weAreP3" | translate }}</p>
  </div>
  <div class="mt-5 text-center">
    <img
      class="img-fluid about-us-clients"
      src="/assets/img/clients.png"
      alt="Pixel Canibal"
    />
  </div>
</div>
