<div class="fluid-content">
    <div class="row align-middle">
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel1.png" class="card-img" alt="...">
                    <!--<div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>-->
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel2.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel3.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel4.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel1.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel2.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel3.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel4.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white">
                <a href="">
                    <img src="/assets/img/maincarousel1.png" class="card-img" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>