<div class="footer">
    <div class=" d-block">
        <div class="d-inline-flex mt-3 mb-3">
            <div class="d-inline-flex ml-2 align-middle">
                <a class="mt-2" href="https://www.facebook.com/absquesoft/" target="_blank">
                    <img src="assets/img/socialNetworks/fb.png" class="social-nt-icons" alt="fb">
                </a>
                <a class="mt-2" href="https://instagram.com/absquesoft" target="_blank">
                    <img src="assets/img/socialNetworks/ig.png" class="social-nt-icons" alt="instagram">
                </a>
                <a class="mt-2" href="https://twitter.com/absquesoft" target="_blank">
                    <img src="assets/img/socialNetworks/tw.png" class="social-nt-icons" alt="twitter">
                </a>
                <a class="mt-2" href="https://www.linkedin.com/in/absquesoft" target="_blank">
                    <img src="assets/img/socialNetworks/ln.png" class="social-nt-icons" alt="linked in">
                </a>
                <!--<a class="mt-2" href="">
                    <img src="assets/img/socialNetworks/ws.png" class="social-nt-icons" alt="whatsapp">
                </a>-->

            </div>
        </div>
    </div>

</div>