a {
  color: #767b81 !important;
  text-decoration: none;
}

a:hover,
a:visited {
  color: #767b81 !important;
  text-decoration: none;
}

.footer {
  margin-top: 5% !important;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: #767b81 !important;
}

.social-nt-icons {
  margin: 0 11px 10px 11px !important;
  height: 22px !important;
  width: 22px !important;
}

.sntw {
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .footer {
    margin-top: 1% !important;
  }
  .social-nt-icons {
    margin: 0 14px 15px 14px !important;
    height: 36px !important;
    width: 36px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
}
