<div class="footer animated fadeIn mt-2">
  <div class="d-block">
    <div class="d-inline-flex">
      <div class="d-inline-flex ml-2 align-middle">
        <a
          class="mt-2"
          href="https://www.facebook.com/pixelcanibal"
          target="_blank"
        >
          <img
            src="assets/img/socialNetworks/fb.png"
            class="social-nt-icons"
            alt="fb"
          />
        </a>
        <a
          class="mt-2"
          href="https://www.instagram.com/pixelcanibal/"
          target="_blank"
        >
          <img
            src="assets/img/socialNetworks/ig.png"
            class="social-nt-icons"
            alt="instagram"
          />
        </a>
        <a
          class="mt-2"
          href="https://www.behance.net/PIXELCANIBAL"
          target="_blank"
        >
          <img
            src="assets/img/socialNetworks/be.png"
            class="social-nt-icons"
            alt="twitter"
          />
        </a>
        <a class="mt-2" href="https://vimeo.com/pixelcanibal" target="_blank">
          <img
            src="assets/img/socialNetworks/vm.png"
            class="social-nt-icons"
            alt="linked in"
          />
        </a>
        <!--
                <a class="mt-2" href="">
                    <img src="assets/img/socialNetworks/ws.png" class="social-nt-icons" alt="whatsapp">
                </a>-->
      </div>
    </div>
    <br />
    <div class="d- d-inline-flex p-2 mt-1">
      <a href="tel:+50622394106">
        <small>
          <img
            src="/assets/img/footer/phone.png"
            height="14px"
            width="14px"
            style="margin-top: -3px;"
          />&nbsp;+506 2239-4106
        </small>
      </a>
      &nbsp;
      <p class="ml-2">
        <small>
          <img
            src="/assets/img/footer/mapmark.png"
            height="14px"
            width="14px"
            style="margin-top: -3px;"
          />&nbsp; Belén, Heredia, Costa Rica
        </small>
      </p>
    </div>
  </div>
</div>
